<%- include("header") -%>
    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>Login </header>
                <form action="/login" method="post">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" name="email" />
                    </div>
                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Enter password"/>
                    </div>
                    <div class="field button-field">
                        <button type="submit" id="login">Login</button>
                    </div>
                </form>
                <div class="form-link">
                    <span class="link login-link">Already have an account?</span>
                    <a href="http://localhost:3000/">SignUp</a>
                </div>
            </div>
        </div>
    </section>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <!-- <script>
        let btn=document.getElementById('login');
         btn.addEventListener('click',async function(e){
         
             e.preventDefault();
             let email=document.querySelector("input[type='email']").value;
             let password=document.querySelector("input[type='password']").value;
             let resp=await axios.post('/login',{email,password})
         console.log('resp',resp);
         })
         </script> -->
<%- include("footer") -%>