<%- include("header") -%>

    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>Sign Up</header>
                <form action="/" method="post">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" name="email" />
                    </div>
    
                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Create password"/>
                    </div>
    
                    <div class="field input-field">
                        <input type="password" name="confirmPassword" placeholder="Confirm password"/>
                        <i class="bx bx-hide eye-icon"></i>
                    </div>
    
                    <div class="field button-field">
                        <button type="submit" id="signup">Signup</button>
                    </div>
                </form>
                <div class="form-link">
                    <span class="link login-link">Already have an account?</span>
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </section>
        <!-- //axios cdn link  -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
   let btn=document.getElementById('signup');
    btn.addEventListener('click',async function(e){
    
        e.preventDefault();
        let email=document.querySelector("input[type='email']").value;
        let password=document.querySelector("input[type='password']").value;
        let confirmPassword=document.querySelector("input[type='password']").value;
        let resp=await axios.post('/',{email,password,confirmPassword})
    console.log('resp',resp);
    })
    </script>
<%- include("footer") -%>